<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/logo_inicial"
        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/Theme.skateTrade.starting"
        tools:targetApi="31">

        <service
            android:name="com.droid.app.skaterTrader.service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notification_" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/purple_500" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" /> <!-- ca-app-pub-4810475836852520~4973682622 id App -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-4810475836852520~4973682622" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />


        <activity
            android:name=".activity.ConfigDadosLojaActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade"/>
        <activity
            android:name=".activity.ActivityMainLoja"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade" />
        <activity
            android:name=".activity.MapaPicosSkate"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade" />
        <activity
            android:name=".activity.RedefinirSenhaActivity"
            android:exported="false"
            android:parentActivityName=".activity.AcessoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade" />
        <activity
            android:name=".activity.CadastrarLojasActivity"
            android:exported="false"
            android:parentActivityName=".activity.AcessoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade" />
        <activity
            android:name=".activity.DetalhesProdutosActivity"
            android:exported="false"
            android:parentActivityName=".activity.ActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade" />
        <activity
            android:name=".activity.CadastrarAnunciosActivity"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:parentActivityName=".activity.MeusAnunciosActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade" />
        <activity
            android:name=".activity.MeusAnunciosActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade" />
        <activity
            android:name=".activity.AcessoActivity"
            android:exported="true"
            android:parentActivityName=".activity.ActivityMain"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.skateTrade"/>
        <activity
            android:name=".activity.ActivityMain"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.VIEW" />-->

        <!--                <category android:name="android.intent.category.DEFAULT" />-->
        <!--                <category android:name="android.intent.category.BROWSABLE" />-->

        <!--                <data-->
        <!--                    android:host="https://skatertrade.web.app/acesso.html"-->
        <!--                    android:scheme="https" />-->
        <!--            </intent-filter>-->
    </application>

</manifest>